# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
smartprice_mobile/build/
smartprice_mobile/android/build/
smartprice_mobile/android/app/build/
smartprice_mobile/android/.gradle/
.gradle/

# IDE & OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
